body {
  margin: auto;
  width: 80%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
}

h1 {
  font-family: "Impact";
  font-size: 44px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #fff;
  margin-bottom: 0px;
}

h2 {
  font-family: "Impact";
  margin-top: 0px;
  color: #263238;
  font-weight: 200;
}

#stonkscanvas {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 666px;
}

#copied_popup {
  position: absolute;
  display: inline;
  padding: 0;
  margin: 0;
  color: #348ac7;
}

.alert {
  padding: 5px;
  background-color: #4bb543; /* Red */
  color: white;
  margin-top: 0px;
  margin-bottom: 15px;
}

.failed {
  padding: 5px;
  background-color: #f44336;
  color: white;
  margin-top: 0px;
  margin-bottom:0px;
}

.selectedword {
  border: 2px solid #3399ff;
}

.prompt {
  color: #263238;
  font-size: 22px;
}

.controls {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#word {
  box-sizing: border-box; /* Prevent box increasing from padding */
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 18px;
}

.action {
  border: 0px solid #fff;
  padding: 10px 20px 10px 20px;
  font-weight: 800;
  font-size: 16px;
  border-radius: 3px;
  margin: 3px;
  cursor: pointer;
}

.action:disabled {
  cursor: no-drop;
}

#submit {
  background: linear-gradient(to right, #7474bf 0%, #348ac7 100%, #7474bf 100%);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #fff;
}

#share {
  background: linear-gradient(to right, #7474bf 0%, #348ac7 100%, #7474bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 0px 3px 2px #ddd;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#download {
  background: linear-gradient(to right, #7474bf 0%, #348ac7 100%, #7474bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 1px 3px 2px #ddd;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#submit:hover {
  transform: scale(1.1);
}

#share:enabled {
  border: 2px solid #348ac7;
}

#download:enabled {
  border: 2px solid #348ac7;
}

#share:hover:enabled {
  transform: translateY(-3px);
}

#download:hover:enabled {
  transform: translateY(-3px);
}

.wordoptions {
  border: 2px solid transparent;
  color: black;
  padding: 5px 10px;
  border-radius: 16px;
  font-weight: 800;
  margin: 5px;
  background: linear-gradient(to right, #7474bf 0%, #348ac7 100%, #7474bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 1px 3px 2px #ddd;
}

.wordoptions {
  cursor: pointer;
}

.selectedword {
  border: 2px solid #348ac7;
  border-radius: 16px;
  outline: 0;
}

@media only screen and (max-width: 768px) {
  #word {
    margin: auto;
    width: 95%;
  }
  #stonkscanvas {
    width: 95%;
  }
  #submit {
    width: 95%;
  }
  h2 {
    font-size: 20px;
  }
}
